Django              
django-crispy-forms     
psycopg2
setuptools          
simplejson          
sqlparse            
tzdata              
wheel               
whitenoise        
pillow  
xhtml2pdf
pandas
